/*-----ОБНУЛЕННЯ------------------------------------------*/
* {padding: 0; margin: 0; border: 0;}
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%; width: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input, textarea, button {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: inherit;}
/*-----------------------------------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/*-----------------------------------------------*/
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #222222;
}
._container {
    max-width: 1326px;
    margin: 0 auto;
    padding: 0 15px;
}
.button-orange {
    background: #FD8558;
}
.button-orange:hover {
    background: #a2563b;
}
.button-orange a {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: 200%;
}
/*-----------------------------------------------*/
.page {
    flex: 1 1 auto;
}
/*-----------------------------------------------*/
.header {
    /* background-color: #fff; */
    position: fixed;
    padding: 6px 0 23px 0;
    z-index: 50;
    width: 100%;
    top: 0;
    left: 0;
}
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.header__body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    height: 54px;
}
.header__logo {
    position: relative;
    z-index: 3;
}
.header__logo-link {
    font-weight: 700;
    font-size: 28px;
    line-height: 160.7%;
    letter-spacing: 1.1px;
    text-transform: lowercase;
    color: inherit;
}
.header-menu {
    margin: 0 0 0 210px;
}
.menu__list {
    display: flex;
    position: relative;
    z-index: 2;
}
.menu__item:not(:last-child) {
    margin: 0 30px 0 0;
}
.menu__link {
    font-size: 15px;
    line-height: 6.66%; 
    letter-spacing: 0.2px;
    text-transform: lowercase;
    color: inherit;
    transition: all 0.3s ease 0s;
}
.menu__link:hover {
    color: #FD8558;
}
@media (max-width: 992px) {
     .header-menu {
        margin: 0 0 0 80px;
    }
}
@media (max-width: 800px) {
    .menu__item:not(:last-child) {
        margin: 0 0 0 0;
    }
     .header-menu {
        margin: 0 0 0 50px;
    }
    .menu__list {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .menu__item:not(:first-child) {
        margin: 0 0 0 10px;
    }
    .menu__item {
        padding: 7px 0 7px 0;
    }
    .header {
        padding: 10px 0 10px 0;
    }
}
.header__burger {
    display: none;
}
@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }
    .header__body {
        justify-content: space-between;
    }
    .header-menu {
        margin: 0 0 0 0;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 40px;
        height: 25px;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        height: 2px;
        background-color: #000;
        left: 0;
        width: 100%;
        top: 11px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    } 
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 11px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 11px;
    }
    .header-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: all 0.3s ease 0s;
        padding: 100px 20px 20px 20px;
        overflow: auto;
    }
    .header-menu.active {
        left: 0;
    }
    .menu__list {
        display: block;
    }
    .menu__item {
        padding: 0 0 0 0;
    }
    .menu__item:not(:first-child) {
        margin: 0 0 0 0;
    }
    .menu__item:not(:last-child) {
        margin-bottom: 40px;
    }
    .menu__link {
        font-size: 24px;
    }
    .header__logo-link {
        font-size: 30px;
    }
}
/*-----------------------------------------------*/
.main-block {
    margin: 74px 0 0 0;
}
.main-block_body {
    max-height: 840px;
    min-width: 100%;
}
.main-block_background {
    background: url('../images/background.png') no-repeat center;
    background-size: cover;
    height: 100%;
    padding: 175px 0 323px 0;
    width: 100%;
}
.main-block_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.main-block_title-1 {
    text-align: center;
    font-size: 70px;
    line-height: 121.4%;
}
.main-block_title-2 {
    text-align: center;
    font-size: 70px;
    line-height: 121.4%;
}
.main-block_title-2:not(:last-child) {
    margin: 0 0 40.5px 0;
}
.main-block_buttons {
    display: flex;
}
.buttons-main-btn {
    padding: 13px 38px;
}
.buttons-main-btn:hover {
    cursor: pointer;
}
.btn-just {
    border: 2px solid #FD8558;
}
.btn-just:hover {
    border: 2px solid #a2563b;
}
.buttons-main-btn:not(:last-child) {
    margin: 0 28px 0 0;
}
.button-main {
    color: inherit;
    font-weight: 700;
    font-size: 15px;
    line-height: 200%;
}
@media (max-width: 800px) {
    .main-block_buttons {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .buttons-main-btn:not(:last-child) {
        margin: 0 0 20px 0;
    }
    .buttons-main-btn {
        min-width: 100%;
        text-align: center;
    }
    .buttons-main-btn a {
        font-size: 20px;
    }
}
@media (max-width: 460px) {
    .main-block_background {
        padding: 100px 0 200px 0;
    }
    .main-block_title-1 {
        font-size: 50px;
    }
    .main-block_title-2 {
        font-size: 50px;
    }
    .buttons-main-btn a {
        font-size: 16px;
    }
}
/*-----------------------------------------------*/
.about {
    margin: 226px 0 0 0;
}
.about__body {
    position: relative;
}
.about__title {
    position: absolute;
    top: -188px;
    left: -110px;
    font-size: 150px;
    line-height: 97%;
    letter-spacing: 0.1px;
    color: #F7F7F7;
}
.about__content {
    padding: 0 63px;
}
.about__content_columns {
    display: flex;
}
.about__content_column {
    flex: 0 1 50%;
}
.about__content_subtitle {
    font-size: 14px;
    line-height: 107%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FD8558;
}
.about__content_text {
    margin: 33px 0 0 0;
    font-size: 40px;
    line-height: 135%;
    color: #333333;
    max-width: 480px;
}
.about__content_top-text {
    font-size: 18px;
    line-height: 156%;
    text-transform: capitalize;
}
.about__content_bottom-text {
    margin: 11px 0 0 0;
    font-size: 15px;
    line-height: 170%;
    color: #999999;
}
@media (max-width: 1510px) {
    .about__title {
        top: -180px;
        left: -50px;
    }
}
@media (max-width: 1410px) {
    .about__title {
        top: -180px;
        left: -25px;
    }
}
@media (max-width: 1024px) {
    .about {
        margin: 50px 0 0 0;
    }
    .about__title {
        display: none;
    }
    .about__content_columns {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .about__content_text {
        margin: 25px 0 25px 0;
        max-width: 100%;
    }
    .about__content_column {
        flex: 1 1 100%;
    }
}
@media (max-width: 636px) {
    .about {
        margin: 150px 0 0 0;
    }
    .about__content_text {
        font-size: 35px;
    }
    .about__content_top-text {
        font-size: 16px;
    }
    .about__content_bottom-text {
        font-size: 14px;
    }
    .about__content {
        padding: 0 15px;
    }
}
@media (max-width: 460px) {
    .about {
        margin: 50px 0 0 0;
    }
    .about__content_text {
        font-size: 25px;
    }
}
/*-----------------------------------------------*/
.quality {
    margin: 57px 0 0 0;
}
.quality__body {
    display: flex;
    align-items: center;
    padding: 0 108px;
}
.quality__image {
    min-width: 55.5%;
    margin: 0 65px 0 0;
}
.quality__image img {
    height: 100%;
    width: 100%;
}
.quality__content_top {
    font-size: 26px;
    line-height: 173%;
    max-width: 390px;
}
.quality__content_top span {
    font-style: italic;
    color: #FD8558;
}
.quality__content_bottom {
    margin: 101px 0 0 0;
}
.quality__content_name {
    font-size: 20px;
    line-height: 100%;
}
.quality__content_position {
    margin: 20px 0 0 0;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 1.8px;
    color: #CACACA;
}
@media (max-width: 1024px) {
    .quality__body {
        justify-content: center;
        flex-direction: column;
        padding: 0 30px;
        text-align: center;
    }
    .quality__image {
        min-width: 50%;
        margin: 0 0 20px 0;
    }
    .quality__content_top {
        font-size: 26px;
        max-width: 100%;
    }
    .quality__content_bottom {
        margin: 70px 0 0 0;
    }
}
@media (max-width: 667px) {
    .quality__content_top {
        font-size: 20px;
    }
    .quality__content_bottom {
        margin: 40px 0 0 0;
    }
    .quality__body {
        padding: 0 15px;
    }
}
/*-----------------------------------------------*/
.need {
    margin: 204px 0 0 0;
}
.need__body {
    display: flex;
    padding: 0 96px;
    margin: 0 -25px;
}
.need__column {
    flex: 0 1 33.333%;
    padding: 0 25px;
}
.need__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.item-need_icon-1 {
    width: 64px;
    height: 64px;
    position: relative;
}
.item-need_icon-2 {
    width: 64px;
    height: 64px;
    position: relative;
}
.item-need_icon-3 {
    width: 64px;
    height: 64px;
    position: relative;
}
.item-need_icon-1::before {
    content: "";
    position: absolute;
    height: 65px;
    width: 65px;
    top: -10px;
    left: -19px;
    background: rgba(253, 133, 88, 0.1);
    border-radius: 50%;
}
.item-need_icon-2::before {
    content: "";
    position: absolute;
    height: 65px;
    width: 65px;
    top: -10px;
    left: -19px;
    background: rgba(58, 15, 115, 0.1);
    border-radius: 50%;
}
.item-need_icon-3::before {
    content: "";
    position: absolute;
    height: 65px;
    width: 65px;
    top: -10px;
    left: -19px;
    background: rgba(112, 180, 70, 0.1);
    border-radius: 50%;
}
.item-need_icon-1 img {
    height: 100%;
    width: 100%;
}
.item-need_icon-2 img {
    height: 100%;
    width: 100%;
}
.item-need_icon-3 img {
    height: 100%;
    width: 100%;
}
.item-need_title {
    margin: 20px 0 0 0;
    font-size: 24px;
    line-height: 160%;
    color: #333333;
}
.item-need_text {
    margin: 17px 0 0 0;
    font-size: 15px;
    line-height: 170%;
    color: #999999;
    max-width: 337px;
}
@media (max-width: 1090px) {
    .need__body {
        padding: 0 30px;
        margin: 0 -15px;
    }
    .need__column {
        flex: 0 1 33.333%;
        padding: 0 15px;
    }
}
@media (max-width: 1024px) {
    .need__body {
        flex-direction: column;
    }
     .need__column {
        flex: 1 1 100%;
    } 
    .need__column:not(:last-child) {
        margin: 0 0 50px 0;
    } 
    .item-need_text {
        max-width: 75%;
    }
    .need {
        margin: 70px 0 0 0;
    }
}
@media (max-width: 375px) {
    .item-need_title {
        font-size: 22px;
    }
    .item-need_text {
        font-size: 14px;
    }
}
/*-----------------------------------------------*/
.decor {
    margin: 67px 0 0 0;
    padding: 0 15px;
}
.decor__body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.decor__line {
    width: 606px;
}
.decor__line-line {
    height: 2px;
    background: #F5F5F5;
}
.decor__circle {
    margin: 0 39px;
    height: 80px;
    width: 80px;
}
.decor__circle-circle {
    border-radius: 50%;
    height: 100%;
}
@media (max-width: 1024px) {
    .decor__circle {
        margin: 0 20px;
        height: 60px;
        width: 60px;
    }
}
@media (max-width: 430px) {
    .decor__circle {
        height: 50px;
        width: 50px;
    }
}
@media (max-width: 667px) {
    .decor {
        margin: 25px 0 0 0;
        padding: 0 10px;
    }
}
/*-----------------------------------------------*/
.portfolio {
    margin: 140px 0 0 0;
}
.portfolio__body {
    display: flex;
    justify-content: space-between;
    padding: 0 63px;
    align-items: flex-end;
}
.portfolio__title {
    font-size: 14px;
    line-height: 110%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FD8558;
}
.portfolio__subtitle {
    margin: 2px 0 0;
    font-size: 32px;
    line-height: 120%;
    color: #333333;
    max-width: 312px;
}
.portfolio__button:hover {
    cursor: pointer;
}
.portfolio__button {
    padding: 13px 37px;
}
@media (max-width: 950px) {
    .portfolio__title {
        font-size: 13px;
    }
    .portfolio__subtitle {
        font-size: 26px;
        max-width: 100%;
    }
    .portfolio__content {
        padding: 0 10px 0 0;
    }
    .portfolio__button {
        padding: 7px 35px;
    }
    .portfolio {
    margin: 70px 0 0 0;
}
}
@media (max-width: 758px) {
    .portfolio__body {
        flex-direction: column;
        padding: 0 20px;
        align-items: center;
        text-align: center;
    }
    .portfolio__content {
        padding: 0 0 0 0;
    }
    .portfolio__button {
        padding: 7px 35px;
        width: 75%;
        margin: 15px 0 0 0;
    }
    .portfolio {
        margin: 30px 0 0 0;
    }
    .portfolio__subtitle {
        font-size: 24px;
        margin: 15px 0 0 0;
    }
}
@media (max-width: 550px) {
    .portfolio__button {
        width: 100%;
    }
}
/*-----------------------------------------------*/
.works {
    margin: 170px 0 0 0;
}
.works__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 300px auto 0 auto;
}
.works__title {
    position: absolute;
    top: -280px;
    right: 70px;
    font-size: 200px;
    line-height: 150%;
    color: #F7F7F7;
}
.works__column {
    flex: 0 1 25%;
}
.works__column_center {
    flex: 0 1 50%;
}
.works__column_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.works__column_center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.works__item {
    position: relative;
}
.works__item_image {
    position: relative;
    max-width: 360px;
    max-height: 360px;
}
.works__item_image img {
    width: 100%;
    height: 100%;
}
.works__column_center-content .works__item_image {
    position: relative;
    max-width: 720px;
    max-height: 720px;
}
.works__column_center-content .item_image img {
    width: 100%;
    height: 100%;
}
.works__item_check {
    position: absolute;
    margin: 0 0 40px 0;
    max-width: 320px;
    left: 20px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 35px;
    background: rgba(255, 255, 255, 0.85);
}
.works__item_check-center {
    position: absolute;
    margin: 0 0 40px 0;
    max-width: 680px;
    left: 20px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 35px;
    background: rgba(255, 255, 255, 0.85);
}
.works__item_check-text {
    font-size: 24px;
    line-height: 138%;
}
.works__item__check-square {
    height: 46px;
    width: 46px;
    background: #FFFFFF;
    border: 2px solid #222222;
}
@media (max-width: 1439.98px) {
    .works__body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    .works__column_content {
        flex-direction: row;
    }
    .works__item_check-text {
        font-size: 22px;
    }
    .works__item__check-square {
        height: 40px;
        width: 40px;
    }
    .works__item_check {
        margin: 0 0 20px 0;
        max-width: 320px;
        left: 20px;
        padding: 20px 15px;
    }
    .works__item_check-center {
        margin: 0 0 20px 0;
        max-width: 680px;
        left: 20px;
        padding: 20px 15px;
    }
}
@media (max-width: 719.98px) {
    .works__item_check {
        margin: 0 0 10px 0;
        max-width: 100%;
        left: 0;
    }
    .works__item_check-center {
        margin: 0 0 10px 0;
        max-width: 100%;
        left: 0;
    }
    .works__body {
        padding: 0 15px;
        margin: 0 auto 0 auto;
    }
    .works__column_center-content .works__item_image {
        max-width: 360px;
        max-height: 360px;
    }
    .works__column_content {
        flex-direction: column;
    }
    .works__title {
        display: none;
    }
    .works__item {
        display: flex;
        justify-content: center;
    }
    .works__item {
        margin-bottom: 15px;
    }
    .works {
        margin: 30px 0 0 0;
    }
}
@media (max-width: 424.98px) {
    .works__item_check-text {
        font-size: 20px;
    }
    .works__item__check-square {
        height: 30px;
        width: 30px;
    }
}
/*-----------------------------------------------*/
.skills {
    margin: 115px 0 0 0;
}
.skills__body {
    display: flex;
    padding: 0 90px;
    align-items: center;
    justify-content: space-between;
}
.skills__content {
    max-width: 456px;
}
.skills__title {
    font-size: 14px;
    line-height: 110%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FD8558;
}
.skills__subtitle {
    font-size: 32px;
    line-height: 120%;
}
.skills__text {
    margin: 15px 0 0 0;
    font-size: 14px;
    line-height: 182%;
    color: #999999;
}
.skills__achieve_block:not(:last-child) {
    margin: 0 0 45px 0;
}
.skills__achieve_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills__achieve_title {
    font-size: 18px;
    line-height: 140%;
}
.skills__achieve_perc {
    font-size: 15px;
    line-height: 156%;
    color: #999999;
}
.skills__achieve_scale {
    display: flex;
    margin: 12px 0 0 0;
}
.skills__achieve_scale-1 {
    min-height: 10px;
    background: linear-gradient(90deg, #FF4803 0%, #FFAE35 59.74%);
    min-width: 540px;
}
.skills__achieve_scale-empty-1 {
    background: #EEEEEE;
    min-height: 10px;
    min-width: 60px;
}
.skills__achieve_scale-2 {
    min-height: 10px;
    background: linear-gradient(90deg, #FF4B05 0%, #FFAE35 72.59%);
    min-width: 480px;
}
.skills__achieve_scale-empty-2 {
    background: #EEEEEE;
    min-height: 10px;
    min-width: 120px;
}
.skills__achieve_scale-3 {
    min-height: 10px;
    background: linear-gradient(90deg, #FF4D06 0%, #FFAC34 54.23%);
    min-width: 570px;
}
.skills__achieve_scale-empty-3 {
    background: #EEEEEE;
    min-height: 10px;
    min-width: 30px;
}
.perc-1 {
    margin: 0 60px 0 0;
}
.perc-2 {
    margin: 0 120px 0 0;
}
.perc-3 {
    margin: 0 30px 0 0;
}
@media (max-width: 1439.98px) {
    .skills {
        margin: 70px 0 0 0;
    }
    .skills__body {
        text-align: center;
        flex-direction: column;
        padding: 0 15px;
        align-items: center;
        justify-content: center;
    }
    .skills__content {
        max-width: 100%;
    }
    .skills__title {
        font-size: 18px;
    }
    .skills__subtitle {
        margin: 15px 0 0 0;
        font-size: 34px;
    }
    .skills__text {
        margin: 15px 0 25px 0;
        font-size: 16px;
    }
}
@media (max-width: 719.98px) {
    .skills__title {
        font-size: 14px;
    }
    .skills__subtitle {
        margin: 15px 0 0 0;
        font-size: 30px;
    }
    .skills__text {
        margin: 15px 0 25px 0;
        font-size: 14px;
    }
    .skills {
        margin: 30px 0 0 0;
    }
    .skills__achieve_scale-1 {
        min-height: 7px;
        min-width: 370px;
    }
    .skills__achieve_scale-empty-1 {
        min-height: 7px;
        min-width: 30px;
    }
    .skills__achieve_scale-2 {
        min-height: 7px;
        min-width: 340px;
    }
    .skills__achieve_scale-empty-2 {
        min-height: 7px;
        min-width: 60px;
    }
    .skills__achieve_scale-3 {
        min-height: 7px;
        min-width: 385px;
    }
    .skills__achieve_scale-empty-3 {
        min-height: 7px;
        min-width: 15px;
    }
    .skills__achieve_block:not(:last-child) {
        margin: 0 0 20px 0;
    }
    .skills__achieve_content {
        justify-content: space-between;
    }
    .perc-1 {
        margin: 0 0 0 0;
    }
    .perc-2 {
        margin: 0 0 0 0;
    }
    .perc-3 {
        margin: 0 0 0 0;
    }
    .skills__achieve_scale {
        justify-content: center;
        align-items: center;
        margin: 10px 0 0 0;
    }
}
@media (max-width: 424.98px) {
    .skills__achieve_scale-1 {
        min-height: 7px;
        min-width: 275px;
    }
    .skills__achieve_scale-empty-1 {
        min-height: 7px;
        min-width: 25px;
    }
    .skills__achieve_scale-2 {
        min-height: 7px;
        min-width: 250px;
    }
    .skills__achieve_scale-empty-2 {
        min-height: 7px;
        min-width: 50px;
    }
    .skills__achieve_scale-3 {
        min-height: 7px;
        min-width: 288px;
    }
    .skills__achieve_scale-empty-3 {
        min-height: 7px;
        min-width: 12px;
    }
}
/*-----------------------------------------------*/
.team {
    margin: 150px 0 0 0;
}
.team__body {
    display: flex;
    flex-direction: column;
    padding: 0 93px;
}
.team__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.team__top_title {
    font-size: 14px;
    line-height: 110%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FD8558;
}
.team__top_subtitle {
    margin: 28px 0 39px 0;
    font-size: 32px;
    line-height: 130%;
    text-transform: capitalize;
}
.team__team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}
.team__column {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}
.team__item {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.team__item_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-1 {
    background: url('../images/team/01.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.img-2 {
    background: url('../images/team/02.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.img-3 {
    background: url('../images/team/03.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.img-4 {
    background: url('../images/team/04.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.img-5 {
    background: url('../images/team/05.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.img-6 {
    background: url('../images/team/06.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.team__item_name {
    font-size: 24px;
    line-height: 125%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.team__item_position {
    font-size: 14px;
    line-height: 170%;
    color: #FCFCFC;
}
.start__button {
    text-align: center;
    margin: 80px auto 0 auto;
}
.start__button:hover {
    cursor: pointer;
}
.start__button__body {
    background-color: #FD8558;
    padding: 13px 37px;
}
.start__button_link {
    font-weight: 700;
    font-size: 15px;
    line-height: 200%;
    color: #FFFFFF;
    display: inline-block;
}
.start__button__body:hover {
    background: #a2563b;
}

@media(max-width: 1023.98px) {
    .team {
        margin: 100px 0 0 0;
    }
    .team__body {
        padding: 0 40px;
    }
    .team__team {
        gap: 20px;
    }
}
@media(max-width: 768.98px) {
    .team {
        margin: 50px 0 0 0;
    }
    .team__item_name {
        font-size: 22px;
    }
    .team__item_position {
        font-size: 16px;
    }
    .team__body {
        padding: 0 0;
    }
    .team__team {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 15px;
    }
}
@media(max-width: 425.98px) {
    .team__team {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        column-gap: 0;
        row-gap: 10px;
    }
    .team__item_name {
        font-size: 24px;
    }
    .team__item_position {
        font-size: 16px;
    }
    .start__button {
        margin: 35px auto 0 auto;
    }
}
/*-----------------------------------------------*/
.testimonials {
    margin-top: 115px;
    background-color: #3A0F73;;
}
.testimonials__body {
    padding: 70px 35px 215px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.testimonials__title {
    font-size: 200px;
    color: rgba(170, 170, 170, 0.1);
}
.testimonials__text {
    margin-top: 50px;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    max-width: 825px;
}
.testimonials__person {
    margin-top: 65px;
    display: flex;
    align-items: center;
}
.testimonials__photo {
    max-width: 60px;
    max-height: 60px;
}
.testimonials__photo img {
    width: 100%;
    height: 100%;
}
.testimonials__photo:not(:last-child) {
    margin: 0 15px 0 0;
}
.testimonials__about {
    text-align: left;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
}
@media(max-width: 1235px) {
    .testimonials__title {
        font-size: 150px;
    }
    .testimonials__body {
        padding: 50px 35px 150px 35px;
    }
}
@media(max-width: 920px) {
    .testimonials__title {
        font-size: 100px;
    }
    .testimonials__body {
        padding: 50px 35px 100px 35px;
    }
    .testimonials__text {
        font-size: 16px;
    }
}
@media(max-width: 620px) {
    .testimonials__title {
        font-size: 70px;
    }
    .testimonials__body {
        padding: 30px 15px 50px 15px;
    }
    .testimonials__text {
        font-size: 14px;
    }
}
@media(max-width: 440px) {
    .testimonials__title {
        font-size: 50px;
    }
    .testimonials__body {
        padding: 30px 15px 50px 15px;
    }
    .testimonials__text {
        font-size: 12px;
    }
}
@media(max-width: 425.98px) {
    .testimonials {
        margin-top: 50px;
    }
}
/*-----------------------------------------------*/
.news {
    margin-top: 122px;
}
.news__body {
    padding: 0 78px;
}
.news__title {
    font-size: 14px;
    line-height: 110%;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FD8558;
}
.news__subtitle {
    margin-top: 47px;
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
}
.news__columns {
    display: flex;
    margin: 0 -15px;
}
.news__column {
    flex: 0 1 33.333%;
    padding: 0 15px;
}
.news__item {
    height: 100%;
}
.news__item_image {
    overflow: hidden;
    position: relative;
    padding: 0 0 67.5% 0;
}
.news__item_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.news__item_info {
    display: flex;
    align-items: center;
    margin-top: 28px;
}
.news__item_style {
    font-size: 15px;
    line-height: 140%;
    color: #FD8558;
    margin-right: 10px;
}
.news__item_design {
    font-size: 15px;
    line-height: 140%;
    color: #FD8558;
}
.news__item_decor {
    background: #DFDEDE;
    height: 5px;
    width: 5px;
    margin: 0 12px;
}
.news__item_date {
    font-size: 14px;
    line-height: 150%;
    color: #999999;
}
.news__item_text {
    margin-top: 20px;
    font-size: 24px;
    line-height: 138%;
}
.news__item_more {
    margin-top: 36px;
}
.news__item_more_link {
    font-size: 15px;
    line-height: 140%;
    color: #FD8558;
}
.news__item_more_link:hover {
    text-decoration: underline;
}

@media(max-width: 1170px) {
    .news__item_date {
        font-size: 12px;
    }
    .news__item_text {
        font-size: 20px;
    }
    .news__item_style {
        font-size: 13px;
    }
    .news__item_design {
        font-size: 12px;
    }
    .news__item_decor {
        height: 3px;
        width: 3px;
        margin: 0 7px;
    }
}
@media(max-width: 1016px) {
    .news__item_date {
        font-size: 10px;
    }
    .news__item_text {
        font-size: 16px;
    }
    .news__item_style {
        font-size: 11px;
    }
    .news__item_design {
        font-size: 10px;
    }
    .news__item_decor {
        height: 3px;
        width: 3px;
        margin: 0 5px;
    }
    .news__item_more_link {
        font-size: 12px;
    }
}
@media(max-width: 862px) {
    .news {
        margin-top: 70px;
    }
    .news__body {
        padding: 0 0;
    }
}
@media(max-width: 707px) {
    .news__columns {
        flex-direction: column;
        margin: 0 15px;
    }
    .news__column {
        flex: 1 1 100%;
        padding: 0 0;
    }
    .news__item_date {
        font-size: 12px;
    }
    .news__item_text {
        font-size: 20px;
    }
    .news__item_style {
        font-size: 14px;
    }
    .news__item_design {
        font-size: 12px;
    }
    .news__item_decor {
        height: 5px;
        width: 5px;
    }
    .news__item_more_link {
        font-size: 14px;
    }
}
@media(max-width: 426px) {
    .news__columns {
        margin: 0 0;
    }
    .news__item_info {
        margin-top: 10px;
    }
    .news__item_text {
        margin-top: 10px;
    }
    .news__item_more {
        margin-top: 10px;
    }
    .news__column:not(:last-child) {
        margin-bottom: 50px;
    }
    .news {
        margin-top: 50px;
    }
    .news__subtitle {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
/*-----------------------------------------------*/
.message {
    margin-top: 115px;
}
.message__body {
    display: flex;
    justify-content: space-between;
    padding: 0 78px;
}
.message__content {
    display: flex;
    flex-direction: column;
    padding-right: 25px;
}
.message__content_title {
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 2px;
    color: rgba(34, 34, 34, 0.4);
}
.message__content_text {
    font-size: 24px;
    line-height: 138%;
}
.message__content_text a {
    color: inherit;
}
.message__content_bottom {
    margin-top: 45px;
}
.form__body {
    display: flex;
    flex-direction: column;
    min-width: 705px;
}
.message__form_data {
    display: flex;
}
.form__name {
    font-size: 14px;
    line-height: 150%;
    padding: 18px 40px;
    border: 1px solid #EEEEEE;
    margin-right: 30px;
    flex: 0 1 50%;
}
.form__email {
    font-size: 14px;
    line-height: 150%;
    padding: 18px 40px;
    border: 1px solid #EEEEEE;
    flex: 0 1 50%;
}
.message__form_message {
    margin-top: 30px;
}
.message__form_textarea {
    resize: none;
    padding: 18px 40px;
    border: 1px solid #EEEEEE;
    min-width: 100%;
    min-height: 128px;
}
.message__form_send {
    margin-top: 65px;
}
.message__form_button {
    padding: 18px 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    background-color: #FD8558;;
}
.message__form_button:hover {
    background-color:  #a2563b;
}
@media(max-width: 1150px) {
    .form__body {
        min-width: 100%;
    }
}
@media(max-width: 996px) {
    .message__body {
        flex-direction: column;
        justify-content: center;
        align-self: center;
        padding: 0 0;
        text-align: center;
    }
    .message__content {
        flex-direction: row;
        justify-content: space-between;
        padding-right: 0;
        margin-bottom: 20px;
    }
    .message__content_bottom {
        margin-top: 0;
    }
    .message__form_send {
        margin-top: 30px;
    }
    .message {
        margin-top: 70px;
    }
}
@media(max-width: 707px) {
    .message__content_title {
        font-size: 12px;
    }
    .message__content_text {
        font-size: 20px;
    }
    .message__form_data {
        flex-direction: column;
    }
    .form__name {
        margin-right: 0;
        flex: 1 1 100%;
    }
    .form__email {
        margin-top: 15px;
        font-size: 14px;
        flex: 1 1 100%;
    }
    .message__form_message {
        margin-top: 15px;
    }
}
@media(max-width: 470px) {
    .message__content {
        flex-direction: column;
        justify-content: center;
    }
    .message__content_bottom {
        margin-top: 15px;
    }
    .message {
        margin-top: 50px;
    }
    .form__name {
        padding: 10px 20px;
    }
    .form__email {
        padding: 10px 20px;
    }
    .message__form_textarea {
        padding: 10px 20px;
    }
    .message__form_button {
        padding: 10px 20px;
    }
}
/*-----------------------------------------------*/
.footer {
    background: #111111;
    margin-top: 120px;
}
.footer__body {
    padding: 93px 78px 80px 78px;
    display: flex;
    flex-direction: column;
}
.footer__columns {
    display: flex;
    justify-content: space-between;
}
.footer__column-left {
    padding-right: 15px;
}
.footer__logo {
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
}
.footer__logo_link {
    color: inherit;
}
.footer__contacts {
    display: flex;
    margin-top: 27px;
    align-items: center;
    font-size: 14px;
    line-height: 161%;
    color: rgba(255, 255, 255, 0.6);
}
.footer__phone a {
    color: inherit;
    font-size: 15px;
}
.footer__phone a:hover {
    text-decoration: underline;
}
.footer__decor {
    margin: 0 10px;
    font-size: 14px;
}
.footer__email a {
    color: inherit;
    font-size: 14px;
}
.footer__email a:hover {
    text-decoration: underline;
}
.footer__menu {
    display: flex;
    margin: 0 -60px;
}
.footer__menu_column {
    padding: 0 60px;
}
.footer__menu_title {
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer__menu_item:not(:last-child) {
    margin-bottom: 10px;
}
.footer__menu_link {
    font-size: 14px;
    line-height: 140%;
    color: #BABABA;
}
.footer__menu_link:hover {
    text-decoration: underline;
}
.footer__bottom {
    text-align: center;
    margin-top: 70px;
}
.footer__bottom_text {
    font-size: 15px;
    line-height: 200%;
    letter-spacing: 0.3px;
    color: #BABABA;
}
.footer__bottom_text-white {
    color: #FFFFFF;
}
@media(max-width: 1110px) {
    .footer__columns {
        flex-direction: column;
        justify-content: center;
        align-self: center;
        text-align: center;
    }
    .footer__column-left {
        padding-right: 0;
    }
    .footer__contacts {
        margin-top: 20px;
        justify-content: center;
    }
    .footer__menu_column {
        padding: 0 50px;
        flex: 0 1 33.333%;
    }
    .footer__menu {
        margin: 25px -50px 0 -50px;
    }
    .footer {
        margin-top: 100px;
    }
    .footer__body {
        padding: 70px 50px 50px 50px;
    }
}
@media(max-width: 650px) {
    .footer__body {
        padding: 70px 0 50px 0;
    }
}
@media(max-width: 540px) {
    .footer__menu_column {
        padding: 0 30px;
    }
    .footer__menu {
        margin: 25px -30px 0 -30px;
    }
}
@media(max-width: 470px) {
    .footer__menu_column {
        padding: 0 0;
    }
    .footer__menu {
        flex-direction: column;
        margin: 25px 0 0 0;
    }
    .footer__menu_title {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .footer__menu_item:not(:last-child) {
        margin-bottom: 5px;
    }
    .footer__menu_link {
        font-size: 16px;
    }
    .footer__menu_column:not(:last-child) {
        margin-bottom: 30px;
    }
    .footer__bottom {
        margin-top: 30px;
    }
    .footer__contacts {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer {
        margin-top: 30px;
    }
    .footer__body {
        padding: 30px 0 30px 0;
    }
    .footer__phone a {
        font-size: 16px;
    }
    .footer__decor {
        margin: 0 0;
        font-size: 16px;
    }
    .footer__email a {
        font-size: 16px;
    }
    .footer__contacts > *:not(:last-child) {
        margin-bottom: 30px;
    }
}
